.title {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
}
.ant-upload.ant-upload-drag {
  margin-left: 10%;
  width: 80% !important;
  margin-top: 5em;
  // height: 300px !important;
}
.ant-space.ant-space-vertical {
  padding-left: 10%;
  width: 90%;
  padding-top: 5em;
  padding-bottom: 5em;
}

.ant-upload-span {
  margin-left: 10%;
  width: 80% !important;
  margin-top: 1em;
}

.image-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.text-home {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}
.text-large {
  font-size: 1.5em;
}

.ant-progress-line {
  position: relative;
  width: 80% !important;
  margin-right: 10%;
  margin-left: 10%;
}
.ant-modal-body>p{
  text-align: center;
}
